.navegacion{
    height: 140px;
    border: 1px solid rgb(62, 150, 62);
    border-bottom-left-radius: 100px;
    background: url('../images/tono5.png') no-repeat, linear-gradient(to left bottom, #12831b, #1b8721, #228c26, #29902b, #2f9530, #379d36, #3ea43d, #45ac43, #4fb94c, #59c656, #64d45f, #6ee169); 
    box-shadow: 0px 0px 5px rgb(57, 139, 57);
    display: flex;
    justify-content: space-between;
    color: white;
    transition: .2s ease;
    
    &__left{
        position: relative;
        display: flex;
        left: 6%;
        height: 70%;
        margin-top: 8px;
        align-items: center;
        transition: .2s ease;
        
        &:hover{
            transform: scale(1.01);
            transition: .2s ease;
            cursor: pointer;
        }
        
        
        & h1{
            font-size: 3rem;
            margin-left: 10px;        
        }
    
        & img{
            height: 70px;
            width: 70px;
        }
    }
    
    .navegacion__right{
        position: relative;
        display: flex;
        right: 6%;
        height: 80%;
        margin-top: 8px;
        align-items: center;
        transition: .2s ease;
        
        & h2{
            margin: 10px 15px;
            font-size: 1.5rem;
            &:hover{
                transform: scale(1.01);
                transition: .2s ease;
                cursor: pointer;
            }
        }
            
        .nav-tabs{
            margin-left: 10px;
            // padding: 7px 10px;
            list-style: none;
            font-size: 1.3rem;
            font-weight: bold;
            line-height: 2rem;
            border: 2px solid white;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgb(0, 0, 0);
            transition: .2s ease;
            position: relative;
            cursor: pointer;

            li{
                height: 100%;
                width: 100%;
                padding: 7px 10px;
                margin: 0;
                a{
                    color: white;
                    text-decoration: none;
                    padding: 10px 10px;
                    &:hover{
                        color: rgb(8, 5, 22);
                    }
                }
            }

            ul{
                position: absolute;
                list-style: none;
                background-color: white;
                left: -20px;
                top: 50px;
                width: 300px;
                border-radius: 5px;
                border: .7px solid black;
                transition: .3s ease;
                display: none;
                
                &.submenu{
                    display: block;
                }

                li{
                    font-size: 1.1rem;
                    padding: 8px 0 8px 20px;
                    text-align: left;
                    a{
                        color: black;
                    }
                }
            }

        }
    
    
    }

}