/* generales */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #171b26, #161a25, #151924, #141823, #131722);
    font-family: 'Quicksand', sans-serif;
}

span{
    color: #171b26;
}


/* Navegacion */

.navegacion{
    height: 140px;
    border: 1px solid rgb(62, 150, 62);
    border-bottom-left-radius: 100px;
    background: url('../images/tono5.png') no-repeat, linear-gradient(to left bottom, #12831b, #1b8721, #228c26, #29902b, #2f9530, #379d36, #3ea43d, #45ac43, #4fb94c, #59c656, #64d45f, #6ee169); 
    box-shadow: 0px 0px 5px rgb(57, 139, 57);
    display: flex;
    justify-content: space-between;
    color: white;
    transition: .2s ease;
}


.navegacion__left{
    position: relative;
    display: flex;
    left: 6%;
    height: 70%;
    margin-top: 8px;
    align-items: center;
    transition: .2s ease;
}

.navegacion__left:hover{
    transform: scale(1.01);
    transition: .2s ease;
    cursor: pointer;
}

.navegacion__left h1{
    font-size: 3rem;
    margin-left: 10px;
    
}

.navegacion__left img{
    height: 70px;
    width: 70px;
}


.navegacion__right{
    position: relative;
    display: flex;
    right: 6%;
    height: 80%;
    margin-top: 8px;
    align-items: center;
    transition: .2s ease;
}

.navegacion__right h2{
    margin: 10px 15px;
}

.navegacion__right h2:hover{
    transform: scale(1.01);
    transition: .2s ease;
    cursor: pointer;
}

.navegacion__right__instrucciones{
    /* border: 2px solid green; */
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #171b26;
    box-shadow: 0px 0px 5px white;
}

.navegacion__right__instrucciones:hover{
    transform: scale(1.01);
    transition: .2s ease;
    color: #43AA41;
    cursor: pointer;
}

.navegacion__right__instrucciones:active{
    color: white;
    transform: scale(.95);
    transition: .2s ease;
    cursor: pointer;
}





/* COntenedor */

.contenedor{
    /* background-color:rgb(214, 214, 214); */
    background-color:#E9EDF1;
    width: 72%;
    height: 480px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: -40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    border-top: 4px solid #171b26;
    border-bottom: 6px solid #9CD169;
}

.contenedor__titulo{
    /* background-color: teal; */
    padding: 20px 30px;
    color: #171b26;
    font-size: 1.7rem;
    text-align: center;
}

.contenedor__body{
    /* border: 2px outset green; */
    width: 90%;
    height: 86%;
    margin: 0 auto;
    display: flex;
}

.contenedor__body__left{
    /* border: 1px solid red; */
    height: 400px;
    width: 50%;
}

.contenedor__body__left img{
     height: 400px;
    width: 400px; 
    position: absolute;
    left: 18%;
    top: 30%;
    transition: .2s ease;
}

.contenedor__body__left img:hover{
    transform: scale(1.01);
    transition: .2s ease;
}

.contenedor__body__right{
    /* border: 1px solid blue; */
    height: 395px;
    width: 50%;
}

.contenedor__body__right__target{
    height: 98%;
    width: 90%;
    margin: auto;
    border-radius: 5px;
    border: 1px solid #171b26;
    border-bottom: 4px solid #171b26;
    box-shadow: 0px 0px 5px #171b26;
    text-align: center;
    padding: 20px 30px 30px 30px;
}

.indicaciones{
    border-radius: 5px;
    border: 1px solid #171b26;
    background-color: #171b26;
    color: white;
    width: 95%;
    padding: 5px;
    margin: auto;
}


.contenedor__body__right__target h3{
    margin: 5px 0px;
    font-size: 1.4rem;
}



/* Para el input */

.input__label{
    display: block;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.grupo__input{
    position: relative;
}

.input__form{
    width: 100%;
    background-color: white;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 50px;
    line-height: 50px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.input__form:focus{
    border: 3px solid #4AB348;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}

.input__message__error{
    font-size: 14px;
    margin-bottom: 0;
    display: none;
}

.input__message__error__activo{
    font-size: 14px;
    display: block;
    color: #bb2929;
}



/* Icono */
.validacion__estado{
    position: absolute;
    right: 10px;
    top: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

/* EStilos para validacion */

.input__correcto .validacion__estado{
    color: #4AB348;
    opacity: 1;
}
/* .input__correcto .input__form{
    border: 3px solid #4AB348;
} */


.input__incorrecto .input__label{
    color: #bb2929;
}
.input__incorrecto .validacion__estado{
    color: #bb2929;
    opacity: 1;
}
.input__incorrecto .input__form{
    border: 3px solid #bb2929;
}














/* pie de la pagina */

.footer{
    /* height: 250px; */
    background-color: #131722;
    box-shadow: 0px 0px 2px white;
    display: flex;
}

.footer__left{
    width: 50%;
    /* border-right: 1px solid white; */
    padding: 30px;
    color: rgb(214, 214, 214);
}

.footer__left h2,p{
    padding: 10px 0;
}


.footer__right{
    width: 50%;
    /* border: 1px solid red; */
    color: rgb(214, 214, 214);
    padding: 50px 40px 40px 40px;
    display: flex;
}

.footer__right__autores{
    width: 50%;
}
.footer__right__autores h3,p{
    padding: 10px 0;
}


.footer__right__profesor{
    width: 50%;
}
.footer__right__profesor h3,p{
    padding: 10px 0;
}